/* XS*/

h1 {
  color: red;
}

/*SM >= 576px */

@media (min-width: 576px) {
  h1 {
    color: blue;
  }
}
/*MD >= 768px */
@media (min-width: 768px) {
  h1 {
    color: green;
  }
}
/*LG >= 992px */
@media (min-width: 992px) {
  h1 {
    color: purple;
  }
}
/*XL >= 1200px */
@media (min-width: 1200px) {
  h1 {
    color: pink;
  }
}
.btn-primary {
  background-color: red;
}

.container {
  background-color: #c4c4c4;
}

.container-fluid {
  background-color: #888;
}
/*container sm*/
.container-sm {
  margin-bottom: 30px;
  border: 2px solid black;
}
/*container md*/
.container-md {
  margin-bottom: 30px;
  border: 2px solid black;
}
/*container lg*/
.container-lg {
  margin-bottom: 30px;
  border: 2px solid black;
}

/*Grid*/
.container {
  border: 5px dotted darkgray;
  padding: 10px;
  margin-bottom: 10px;
}
.row {
  border: 5px solid rgb(163, 17, 90);
  height: 100px;
  padding: 10px;
  margin: 0;
}
.col {
  border: 2px dashed black;
  height: 100%;
  margin: 0;
}
